@mixin wrapperCenter {
    max-width: 1180px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: #9A9A9A;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    
}
h1, h2, h3,h4{
margin: 0;
}
/*Header style*/

.header{

    &__wrapper{
        @include wrapperCenter();
        height: 100px;

        &-left ul,
        &-right ul{
            display: flex;
            list-style: none;
            font-size: 18px;
            line-height: 22px;
            color: #433840;
            
        }
        &-left ul li,
        &-right ul li{
            margin-left: 16px;
            margin-right: 16px;
        }
        &-left ul li a,
        &-right ul li a
        {
            color: inherit;
            text-decoration: none;
        }
        &-left ul li a:hover,
        &-right ul li a:hover{
            color: #FEA3AC;
            transition: all 300ms ease-in-out;
        }
        &-left ul li.active{
            color: #FEA3AC;
        }

    }
}
/*About page*/
.page_heading{
    min-height: 400px;
    position: relative;
    background-size: cover;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__about{
        margin: 0;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 62px;
        color: #FFFFFF;
    }
    &__subtitle{
        font-family: Waiting for the Sunrise;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 50px;
        color: #FFFFFF;
    }
}
.svg_style{
    position: relative;
}
.page_heading.about_page{
    background: transparent url(../img/about__header.jpg) center center no-repeat;
}
.svg_style::before{
    content: "";
    width: 100%;
    height: 120px;
    background: url(../img/top.svg) center center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
.svg_style::after{
    content: "";
    width: 100%;
    height: 100px;
    background: url(../img/bottom.svg) center center no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
}
/*Main content*/
.main{
    align-items: center;
    display: flex;
    margin-top: 70px;
    margin-bottom: 61px;
    &__wrapper{
        @include wrapperCenter();
        &-data:first-child{
            padding-left: 25px;
            padding-right: 45px;
        }
        &-data:last-child{
            padding-right: 25px;
            padding-left: 45px;
        }
        &-data article{
            margin-bottom: 80px;
        }
        &-data article:last-child{
            margin-bottom: 0;
        }
        &-data article h3{
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 37px;
            color: #433840;
            margin-bottom: 12px;
        }
    }
}

/*Info page*/
.infographic{
    background: #FEA3AC;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 59px;
    padding: 0;
    &__wrapper{
        @include wrapperCenter();
        &-list{
            width: 100%;
            min-height: 600px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            &-item{
                margin-left: 10px;
                margin-right: 10px;
                text-align: center;
            }
            &-item:first-child{
                margin-left: 0;
            }
            &-item{
                margin-right: 0;
            }
            &item .icon{
                width: 135px;
                height: 135px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-item .count{
                font-family: Waiting for the Sunrise;
                font-style: normal;
                font-weight: 300;
                font-size: 60px;
                line-height: 99px;
                color: #DFEEB6;
                display: block;
            }
            &-item h4{
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 25px;
                color: #FFFFFF;
            }
        }
    }
}


/*Team box*/

.team{
    margin-bottom: 150px;
    &__title{
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        color: #433840;
        text-align: center;
    }
    &__subtitle{
        display: block;
        text-align: center;
        font-family: Waiting for the Sunrise;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 40px;
        color: #F7A1A8;
        margin-bottom: 60px;
    }
    &__wrapper{
        @include wrapperCenter();
        &-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &-item{
                width: calc(50% - 201.5px);
                background: #C9E3F4;
                border-radius: 5px;
                margin-bottom: 40px;
                margin-left: 190px;
                display: flex;
                align-items: center;

                    &-img img{
                        border-radius: 100%;
                        margin-left: -190px;
                        margin-top: 25px;
                        margin-bottom: 25px;
                    }
                    &-data{
                        margin-left: 17px;
                        &-name{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 30px;
                            line-height: 37px;
                            color: #FFFFFF;
                            display: block;
                        }
                        &-pos{
                            font-style: normal;
                            font-weight: 300;
                            font-size: 20px;
                            line-height: 25px;
                            color: #433840;
                            margin-bottom: 14px;
                        }
                        &-description{
                            font-style: normal;
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 25px;
                            color: #433840;
                            margin-bottom: 10px;
                        }
                        &-social{
                            letter-spacing: 10px;
                        }
                    }
            }

            &-item:nth-child(2),
            &-item:nth-child(3){
                background: #DFEEB6;
            }
            &-item:nth-child(3),
            &-item:nth-child(4){
                margin-left: 0;
                margin-right: 190px;
            }
            &-item:nth-child(3) &-item-img,
            &-item:nth-child(4) &-item-img{
                order: 2;
            }
            &-item:nth-child(3) &-item-img img,
            &-item:nth-child(4) &-item-img img{
                margin-left: 0;
                margin-right: -190px;
            }
            &-item:nth-child(3) &-item-data,
            &-item:nth-child(4) &-item-data{
                order: 1;
                margin-left: 0;
                margin-right: 17px;
                text-align: right;
            }
            
        }
    }
}

/*Footer*/

.footer{
    &__top{
        background: url(../img/footer_bg.png) center center no-repeat;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &-left h3{
            margin-top: 60px;
            margin-bottom: 50px;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 37px;
            color: #FFFFFF;
        }
        &-left p{
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 35px;
             color: #FFFFFF;
             margin: 0;
        }
        &-left span{
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 35px;
            color: #DFEEB6;
        }
        &-center h3{
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 37px;
            color: #FFFFFF;
            margin-bottom: 25px;
        }
        &-center a{
            display: flex;
            align-items: center;
            text-decoration: none;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 35px;
            color: #FFFFFF;
        }
        &-center a p{
            margin-left: 10px;
        }
        &-right h3{
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 37px;
            color: #FFFFFF;
            margin-top: 60px;
            margin-bottom: 19px;
        }
        &-right{
            &-items{
                width: 300px;
                height: 300px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
            }
            &-item{
                width: 97px;
                height: 97px;
            }
        }
    }
    &__bottom{
        background: #433840;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    
}

@media only screen and(max-width:940px){
    .header{
        &__wrapper{
            height: 200px;
            &-left ul,
            &-right ul{
                flex-direction: column;
            }
        }
    }
    .team{
        &__wrapper{
            &-list{
                flex-direction: column;
                align-items: center;
                &-item{
                    width: 60%;
                }
            }
        }
    }
    .page_heading{
        width: 100%;
        margin-left: 15px;
        padding: 0;
        text-align: center;
        // margin-right: 0;
        overflow: hidden;
    }
    .infographic{
        &__wrapper{
            &-list{
                flex-direction: column;
                min-height: 1200px;
                justify-content: center;
            }
        }
    }
    .main{
        &__wrapper{
            flex-direction: column;
            
        }
    }
    .footer{
        &__top{
            &-left h3{
                font-size: 20px;
            }
            &-left p, span{
                font-size: 13px;
            }
            &-center h3{
                font-size: 20px;
            }
            &-center a{
                font-size: 13px;
            }
            &-right{
                display: none;
            }
        }
    }
}

@media only screen and(max-width:490px){
    .header{
        &__wrapper{
            &-logo img{
                width: 150px;
                height: 50px;
            }
        }
    }

    .main{
        &__wrapper{
            &-data img{
                width: 300px;
                
            }
            &-data{
                
            }
        }
    }

    .team{
        &__wrapper{
            &-list{
                width: 90%;
                &-item{
                    &-img img{
                        width: 150px;
                        height: 150px;  
                        margin-left: -170px;
                    }
                }
            }
        }
    }
    .footer{
        margin-right: 0;
        &__top{
            &-left h3{
                font-size: 15px;
                margin-bottom: 0;
            }
            &-left p, span{
                font-size: 10px;
            }
            &-center h3{
                font-size: 15px;
                // margin-bottom: 0;
            }
            &-center a{
                font-size: 10px;
            }
           
        }
    }
    
}